.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.title-text {
    font-size: 2rem;
}

.btn-container{
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}
.filter-btn{
    background: none;
    border-radius: 15%;
    padding: 0.2rem 1rem;
    margin: 0.2rem;
    border-color: gold;
}
.all-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.single-item{
    max-width: 30rem;
    display: flex;
    flex-direction: row;
    margin:3rem;
}

.single-item img{
    max-width: 30%;
    border-radius: 4%;
    border-color: gold;
    border-style: double;
}
.item-info {
 
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
}
.item-info header{
    display: flex;
    justify-content: space-between;
    border-bottom-style:dotted ;
    border-width: thin;
}
.item-name{
font-weight: bold;
}
.item-price{
    color: gold;
    font-weight: bold;
}
