body{
    margin: 0;
    padding: 0;
}

.banner-container {
    background-image: url(./images/rooms-cover-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 10rem;
}
.banner-text {
    font-size: 3rem;
    color: white;
    
}
/* rooms */
.rooms-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
    padding: 4.5rem 0;
}
.room{
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    max-width: 40%;
}
.room-title{
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding: 2rem;
}
.characteristic-container ul{
list-style-type:disc;
}
.characteristic-container ul li{
    padding: 0.12rem;
}
.price-and-button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.price-and-button-container button{
    background-color: blueviolet;
    border: none;
    color: white;
    padding: 0.5rem;
}
.price-and-button-container span{
    font-size: 1.5rem;
    color: blueviolet;
    font-weight: bold;
}

